#{extends 'main.html' /}
#{set title:'くじ一覧' /}

<h1>くじをつくる</h1>
<form method="post" action="@{create}">
    <input type="text" name="title"/>
    <input type="submit" value="OK"/>
</form>

<h2>一行一件で、複数のくじを一度につくれます</h2>
<form method="post" action="@{batchCreate}">
    <textarea name="text"></textarea>
    <input type="submit" value="OK" />
</form>

<h1>全てのくじ</h1>

<ol>
    #{list items:tasks, as:'task'}
    <li><span>${task.title}</span>#{if task.user}(<span>${task.user.name}</span>)#{/if}
    <a href="@{Tasks.delete(task.id)}">捨てる</a></li>
    #{/list}
</ol>
