#{extends 'main.html' /}
#{set title:'Home' /}

<style>
    label {
        font-size: 20pt;
    }
    input[type=text] {
        font-size: 20pt;
    }
    input[type=submit] {
        margin: 10px;
        font-size: 20pt;
        padding: 10px;
        width: 200px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }
    .content {
        max-width: 800px;
    }
</style>

<div class="content">
    <div class="notice">
        <a href="@{Tasks.index}">こちらからくじを作ってしてください。</a><br />
    </div>

    <div style="text-align: center">
        <form method="post" action="@{Application.assign}">
        <label>ニックネーム: </label>
        <input type="text" name="name" />さん
        <br />
        <input type="submit" value="くじを引く" />
        </form>
    </div>
</div>